@import "css/vars";

.center-aligned-row {
  display: flex;
  align-items: center;
}

.center-aligned-spaced-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connect-modal {

  .chain, .connector {
    @extend .center-aligned-spaced-row;
    height: 60px;
    font-size: 1.2em;
    padding: 0 20px;

    img {
      width: 20px;
      margin-right: 20px;
    }

    .name {
      @extend .center-aligned-row;
      flex-grow: 2;
    }

    svg path {
      fill: #555;
    }

    svg.svg-inline--fa {
      width: .4em;
    }

    &:not(:last-child) {
      border-bottom: solid 1px white;
    }

    &:first-child {
      margin-top: 15px;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }

  .chain {
    height: 80px;
    padding: 15px 20px;

    .name {
      height: 100%;
    }

    .info {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }

    .account-name {
      font-size: 0.8em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $green;
    }

    .logout {
      cursor: pointer;

      svg {
        width: 0.5em;
      }
    }

    &.not-connected {
      cursor: pointer;

      .account-name {
        color: red;
        font-style: italic;
      }
    }
  }

  .connector {
    cursor: pointer;

    img {
      width: 32px;
    }
  }
}