@import 'css/vars';

html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: white;
  background-color: black;
}

.center-aligned-row {
  display: flex;
  align-items: center;
}

.center-aligned-spaced-row {
  @extend .center-aligned-row;
  justify-content: space-between;
}

.small-text {
  font-size: .85em;
}

input[type=text] {
  height: 2em;
  font-size: 1.2em;
  padding: 0 10px;

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.item {
  &.item-group {
    margin-right: 80px;
  }

  .item-title {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
  }

  .item-text {
    font-size: 1.4em;
    position: relative;

    .small-text {
      font-size: .6em;
    }
  }

  .item-input {
    margin-top: 2px;
  }
}

.pointer {
  cursor: pointer;

  &.red {
    color: #da5151;
  }
}

.button {
  background-color: #453986;
  padding: 10px 24px;
  border-radius: 5px;
  text-align: center;

  &.disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  &:not(.disabled) {
    cursor: pointer;
  }
}

.App {
  $menu_width: 300px;

  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 72px;
    padding: 0 72px;
    font-size: .875em;
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;
  }

  .page {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
  }

  .section {
    margin-top: 30px;
    position: relative;
    padding: 30px;
    background-color: $section-dark-bg;
    border-radius: 12px;

    &:first-child {
      margin-top: 102px;
    }
  }
}

.MuiDialog-paper {
  .MuiButton-containedPrimary {
    width: 100% !important;
    margin-bottom: 15px;
  }
}