$main_blue: #202047;
$section-dark-bg: #1d1d21;
$border-gray: #5b5b5b;
$border-light-gray: #b5b5b5;

$team_purple: #674ea7;
$team_white: #fff2cc;
$team_green: #38761d;
$team_orange: #ff9900;
$team_black: #38373c;