html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  background-color: black;}

#root {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    background: black url("images/rainbow.png") no-repeat center center;
    background-size: 100% 100%;
    opacity: .35;
  }
}

.button {
  background-image: linear-gradient(#93488e -50%, #4c3c8d);
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  color: white;

  &.disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  &.register {
    width: 110px;
  }

  &.transfer {
    width: 140px;
  }
}

.App {
  --error-color: #e64c22;
  --success-color: #61ad4f;

  header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    font-size: .875em;
    width: 1200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;

    .logo-container {
      font-size: 1.5em;

      .logo {
        margin-right: 10px;
        width: 50px;
        height: 55px;
        background: url("images/bifrost.png") no-repeat left center;
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    align-self: center;
    height: 60px;
    justify-content: space-between;
    background-color: black;
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
    .powered-by {
      background: url("/images/powered-by.png") no-repeat center center;
      background-size: 100%;
      width: 148px;
      height: 100%;
    }

    a {
      &:not(:first-child) {
        margin-left: 24px;
      }

      svg {
        width: 1.5em !important;
        height: 1.5em !important;
      }
    }
  }

  .page {
    width: 1200px;
    padding: 100px 0 60px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 100%;

    .center {
      display: flex;
      align-items: flex-start;
      width: 100%;
    }

    .info {
      position: relative;
      flex-grow: 2;
      padding-right: 100px;
      color: white;

      h1 {
        margin: 0 0 30px;
        font-size: 2.25em;
      }

      p {
        margin: 30px 0;
        font-style: italic;
        line-height: 1.5em;
        font-size: 1.1em;
      }

      a {
        text-decoration: underline;
        //&:hover {
        //  //font-weight: bold;
        //  text-decoration: underline;
        //}
      }

      .list-item {
        position: relative;
        margin-bottom: 20px;
        font-style: italic;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: -10px;
          width: 2px;
          height: 2px;
          background-color: white;
        }
      }
    }
  }

  .modal-container {
    .close {
      display: none;
    }

    .modal {
      border: solid 1px white;
      background-color: black;
      padding: 0;
      color: white;
      width: 500px;
      border-radius: 6px;

      .modal-header {
        background-image: linear-gradient(black -150%, #555);
        padding: 20px 24px;
        margin: 0;
        font-size: 1.2em;
        border-top-right-radius: 4px;
        border-top-left-radius: 6px;
      }

      .modal-content {
        padding: 0;
      }
    }
  }

  .connect-modal {
    .chain, .connector {
      &:not(:last-child) {
        border-bottom: solid 1px white;
      }
    }
  }
}